body {
  font-family: "Public Sans";
  background-color: #f5f5f9;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 375px) {
  .chart {
    width: 280px;
  }
}
